mixin form(event)
    div(class="form-group")
        input(type="text", class="form-control", placeholder="Enter event name:", name="name", value=event.name)
    div(class="form-group")
        textarea(class="form-control", placeholder="Enter event description", name="description")=event.description
    div(class="form-group")
        button(type="submit" class="btn tbn-success") Save