TYPEORM_CONNECTION = postgres
TYPEORM_HOST = localhost
TYPEORM_USERNAME =postgres
TYPEORM_PASSWORD = 
TYPEORM_DATABASE =crud
TYPEORM_PORT = 5432
TYPEORM_MIGRATIONS = src/database/migrations/*.ts
TYPEORM_MIGRATIONS_DIR = src/database/migrations
TYPEORM_ENTITIES = src/entities/*.ts
TYPEORM_ENTITIES_DIR = src/entities

JWT_SECRET_KEY = 

BASE_URL = 

MAIL_USER =
MAIL_PASSWORD = 